NODE_ENV="development"
PORT=5001
KINDE_DOMAIN="https://your_domain.kinde.com"
GEMINI_API_URL="https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent"
GEMINI_API_KEY="your_key"